<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <header>
        <a href="/"><span class="glyphicon glyphicon-globe"></span>
        <span>Congo</span></a>
      </header>
    </div>
  </div>
</div>