 <table class="table table-hover">
    <thead>
     <tr>
       <th>Item</th>
       <th>Price</th>
       <th>In Stock</th>
     </tr>
    </thead>
    <tbody>
      <% @items.each do |item|  %>
        <tr>
          <td><%= link_to item.title, item_path(item.id) %></td>
          <td><%="$ #{item.cost}" %></td>
          <td><%= item.inventory %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
