@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'items';
//You need to now manually import every other scss file.

$lite-grey: #DDDDDD;

.my-cool-nav {
  margin-bottom: 10px;
}

header {
  color: $lite-grey;
  text-align: center;
  padding: 10px;
  margin-bottom: 5px;
  font-size: 3em;
  background-image: url(https://annabelleunsw.files.wordpress.com/2012/03/themarketplace.jpg?w=1280&h=960);
  background-size: cover;

  a{
    color: $lite-grey;
    text-decoration: none;

    &:hover{
      text-decoration: none;
      color: $lite-grey;
    }
  }
}

.sidebar{
  border: 1px solid $lite-grey;
  border-radius: 5px;
  padding: 15px;

  .sign-up {
    text-align: center;

    .input {
      border: 1px solid $lite-grey;
      border-radius: 5px;
    }
  }
}