@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'items';
//You need to now manually import every other scss file.

$lite-grey: #DDDDDD;

.my-cool-nav {
  margin-bottom: 10px;
}

.sidebar{
  border: 1px solid $lite-grey;
  border-radius: 5px;
  padding: 15px;

  .sign-up {
    text-align: center;

    .input {
      border: 1px solid $lite-grey;
      border-radius: 5px;
    }
  }
}