@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'items';
@import 'orders';
//You need to now manually import every other scss file.

$lite-grey: #DDDDDD;
$off-white: #F6F6F6;
$rose-white: #FDF3E7;

body {
  background-color: lighten($rose-white, 3%);
}

.my-cool-nav {
  margin-bottom: 10px;

    a {
      font-family: 'Berkshire Swash', cursive;
    }

}

header {
  text-align: center;
  font-family: 'Berkshire Swash', cursive;
  padding: 10px;
  margin-bottom: 5px;
  font-size: 3em;
  background-image: url(https://annabelleunsw.files.wordpress.com/2012/03/themarketplace.jpg?w=1280&h=960);
  background-size: cover;

  a{
    color: lighten($rose-white, 1%);
    text-decoration: none;

    &:hover{
      text-decoration: none;
      color: lighten($rose-white, 0%);
    }
  }
}

.for-yield {
  background-color: lighten($rose-white, 1%);
  border-radius: 5px;
}

.sidebar{
  border-radius: 5px;
  padding: 15px;
  background-color: lighten($rose-white, 1%);

  .sign-up {
    text-align: center;

    .input {
      border: 1px solid $lite-grey;
      border-radius: 5px;
    }
  }
}